
body {
  display: block;
  background-color: #444;
  margin: 0;
}

.game-screen {
  float: left;
  width: 71%;
  height: 74vh;
  background-color: black;
}

.skill-bar {
  position: absolute;
  top: 97.7%;
  width: 71%;
  background-color: green;
}

.control-panel {
  background-color: gray;
  width: 29%;
  height: 100vh;
  float: right;
}

.message-panel {
  color: white;
  position: absolute;
  overflow: scroll;
  background-color: #333;
  top: 74%;
  height: 23%;
  width: 71%;
}

.message-form {
  position: absolute;
  top: 95.4%;
  width: 71%;
}

.message-input {
  background-color: black;
  color: white;
  width: 99.4%;
}
